<div ng-click="jump('index')" class="start_box">
    <header>
        <button class="button button-stable" ng-click="jump('index')">
            <span>{{secondNumber}}</span>跳过</button>
    </header>
    <img class="m_img-full-width" src="images/logo.png" alt=""/>
    <section class="advertise">
        <h1><div></div><b><img src="images/start01.png" alt=""/></b></h1>
        <h2><span><img src="images/start02.png" alt=""/></span></h2>
        <h3><i><img src="images/start03.png" alt=""/></i></h3>
    </section>
</div>
